USE [P7_file]
GO
/****** Object:  StoredProcedure [dbo].[P_V_Struct_OWNER_U]    Script Date: 12/03/2013 11:21:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- drop procedure P_V_Struct_OWNER_U

CREATE PROCEDURE [dbo].[P_V_Struct_OWNER_U]      	  @idDeclaration_OWNER				int,
      @OWNER_TYPE						char(1),
      @OWNER_OZN						varchar(2),
      @OWNER_POS						varchar(254),
      @OWNER_DATE						datetime,
      @OWNER_DORG						varchar(254),
--      @idDeclaration_OWNER_GOL_UCH		int,
      @GT_VIDSOTOK_GOL_UCH				decimal(5,2),
      @GT_GOLOSI_GOL_UCH				int,
--      @idDeclaration_OWNER_OPR_UCH		int,
      @UT_VIDSOTOK_OPR_UCH				decimal(5,2),
      @UT_NOMINAL_OPR_UCH				int,
      @UT_GOLOSI_OPR_UCH				int,
--      @idDeclaration_OWNER_OWNER_ADR	int,
      @ADR_COD_KR						varchar(3),
      @ADR_INDEX						varchar(6),
      @ADR_PUNKT						varchar(50),
      @ADR_UL							varchar(50),
      @ADR_BUD							varchar(10),
      @ADR_KORP							varchar(10),
      @ADR_OFF							varchar(10),      
--      @idDeclaration_OWNER_OWNER_NAZVA	int,
      @NT_COD							varchar(10),
      @NT_NM1							varchar(100),
      @NT_NM2							varchar(50),
      @NT_NM3							varchar(50),      
--      @idDeclaration_OWNER_OWNER_PASS	int,
      @PS_SR							varchar(2),
      @PS_NM							varchar(6),
      @PS_DT							datetime,
      @PS_ORG							varchar(254),
--      @idDeclaration_OWNER_PR_UCH		int,
      @UT_VIDSOTOK_PR_UCH				decimal(5,2),
      @UT_NOMINAL_PR_UCH				int,
      @UT_GOLOSI_PR_UCH					int,
--      @idDeclaration_OWNER_ZAG_UCH		int,
      @GT_VIDSOTOK_ZAG_UCH				decimal(5,2),
      @GT_GOLOSI_ZAG_UCH				int,     	  @Enabled							tinyint = 1,	@id int OUT,
	@error int OUT,
	@ErrorText varchar(200) OUT         as --	declare @idDeclaration_OWNER int;	DECLARE @rowcount int;
--	DECLARE @error int;
	DECLARE @Creator varchar(50);
	DECLARE @Created datetime;
	DECLARE @Changer varchar(50);
	DECLARE @Changed datetime;
	DECLARE @ErrorNumber int;
	DECLARE	@ErrorSeverity int;
	DECLARE	@ErrorState int;
	DECLARE @ErrorProcedure varchar(126);
	DECLARE	@ErrorMessage varchar(4000);
	DECLARE	@ErrorLine int;
--	DECLARE @ErrorText varchar(500);
	CREATE TABLE #sp_Caller (id int)
	INSERT INTO #sp_Caller (id) VALUES (@@PROCID)
		IF dbo.F_CheckTriggers() = 1
				BEGIN
					SET @ErrorNumber = 50009
					SET @ErrorSeverity = 18
					SET @ErrorState = 1
					SET @ErrorMessage = 'User Error'
					SET @ErrorText = 'Error in F_CheckTriggers'
					set @ErrorProcedure = OBJECT_NAME(@@PROCID)
					EXECUTE p_Log_I @ErrorNumber , @ErrorSeverity , @ErrorState , @ErrorProcedure , @ErrorNumber , 0 , @ErrorText
					RAISERROR(@ErrorNumber , @ErrorSeverity , @ErrorState , @ErrorText)
					GOTO L_ERR
				ENDBEGIN TRANSACTION
	 BEGIN TRY UPDATE StructDeclarationOWNER
		SET	
		OWNER_TYPE = @OWNER_TYPE,
		OWNER_OZN = @OWNER_OZN,					
		OWNER_POS = @OWNER_POS,					
		OWNER_DATE = @OWNER_DATE, 					
		OWNER_DORG = @OWNER_DORG,		Changer = suser_sname(),		Changed = getdate()						where idDECLARATION = @idDeclaration_OWNER
	
	SELECT @id = @@identity , @rowcount = @@rowcount , @error = @@error		
	
UPDATE StructOwnerGOL_UCH		SET		GT_VIDSOTOK = @GT_VIDSOTOK_GOL_UCH,
		GT_GOLOSI = @GT_GOLOSI_GOL_UCH,
		Changer = suser_sname(),		Changed = getdate()						where idDeclaration_OWNER = @idDeclaration_OWNER
	
UPDATE StructOwnerOPR_UCH		SET		UT_VIDSOTOK = @UT_VIDSOTOK_OPR_UCH,
		UT_NOMINAL = @UT_NOMINAL_OPR_UCH,
		UT_GOLOSI =	@UT_GOLOSI_OPR_UCH,
		Changer = suser_sname(),		Changed = getdate()						where idDeclaration_OWNER = @idDeclaration_OWNER
	
UPDATE StructOwnerOWNER_ADR
		SET
		ADR_COD_KR = @ADR_COD_KR,
		ADR_INDEX = @ADR_INDEX,
		ADR_PUNKT = @ADR_PUNKT,
		ADR_UL = @ADR_UL,
		ADR_BUD = @ADR_BUD,	
		ADR_KORP = @ADR_KORP,	
		ADR_OFF = @ADR_OFF,
		Changer = suser_sname(),		Changed = getdate()						where idDeclaration_OWNER = @idDeclaration_OWNER

UPDATE StructOwnerOWNER_NAZVA
		SET
		NT_COD = @NT_COD,
		NT_NM1 = @NT_NM1,
		NT_NM2 = @NT_NM2,
		NT_NM3 = @NT_NM3,
		Changer = suser_sname(),		Changed = getdate()						where idDeclaration_OWNER = @idDeclaration_OWNER

UPDATE StructOwnerOWNER_PASS
		SET
		PS_SR = @PS_SR,
		PS_NM = @PS_NM,	
		PS_DT = @PS_DT,
		PS_ORG =@PS_ORG,
		Changer = suser_sname(),		Changed = getdate()						where idDeclaration_OWNER = @idDeclaration_OWNER
	
UPDATE StructOwnerPR_UCH		SET
		UT_VIDSOTOK = @UT_VIDSOTOK_PR_UCH,
		UT_NOMINAL = @UT_NOMINAL_PR_UCH,
		UT_GOLOSI = @UT_GOLOSI_PR_UCH,
		Changer = suser_sname(),		Changed = getdate()						where idDeclaration_OWNER = idDeclaration_OWNER

UPDATE StructOwnerZAG_UCH		SET
		GT_VIDSOTOK = @GT_VIDSOTOK_ZAG_UCH,
		GT_GOLOSI = @GT_GOLOSI_ZAG_UCH,
		Changer = suser_sname(),		Changed = getdate()						where idDeclaration_OWNER = @idDeclaration_OWNER

	COMMIT TRANSACTION
	SET @ErrorText = 'Success exec Procedure - ' + OBJECT_NAME(@@PROCID) + '. RowCount - ' + cast(@rowcount as varchar(3))
	exec p_Log_I 0 , 0 , 0 , 0 , 0 , 0 , @ErrorText	
END TRY
BEGIN CATCH
	SELECT @id = @@identity , @rowcount = @@rowcount , @error = @@error
    SELECT 
         @ErrorNumber = ERROR_NUMBER(),
         @ErrorSeverity = ERROR_SEVERITY(),
         @ErrorState = ERROR_STATE(),
         @ErrorProcedure = ERROR_PROCEDURE(),
         @ErrorLine = ERROR_LINE(),
         @ErrorMessage = ERROR_MESSAGE()
	SELECT @ErrorText = 'Error in Procedure - '+OBJECT_NAME ( @@ProcId) +'. RowCount - ' + cast(@rowcount as varchar(3))
	if @@trancount > 0
		ROLLBACK TRANSACTION
	exec p_Log_I @ErrorNumber , @ErrorSeverity , @ErrorState , @ErrorProcedure , @ErrorMessage , @ErrorLine , @ErrorText
	RAISERROR (@ErrorMessage , @ErrorSeverity , @ErrorState)
END CATCH
L_ERR:
-- select @id , @rowcount , @error
DROP TABLE #sp_Caller